<footer
  class="h-23vmin w-full flex justify-around items-center bg-black mt-20 font-bold px-sides relative bottom-0"
>
  <h2 class="cursor-pointer hover-underline after:bg-white">
    {{ "contact" | uppercase }}
  </h2>
  <h2 class="cursor-pointer hover-underline after:bg-white">
    {{ "about us" | uppercase }}
  </h2>
  <h2 class="cursor-pointer hover-underline after:bg-white">
    {{ "policies" | uppercase }}
  </h2>
  <h2 class="cursor-pointer hover-underline after:bg-white">
    {{ "delivery" | uppercase }}
  </h2>
  <h2 class="cursor-pointer hover-underline after:bg-white">
    {{ "help" | uppercase }}
  </h2>
</footer>
