<footer class="w-full flex flex-col justify-center items-center text-white bg-dark mt-20 font-bold px-sides relative bottom-0">
	<div class="w-full h-23vmin flex justify-around items-center">
		<h2 class="cursor-pointer hover-underline after:bg-white" routerLink="/contact">
			{{ "contact" | uppercase }}
		</h2>
		<h2 class="cursor-pointer hover-underline after:bg-white" routerLink="/about">
			{{ "about us" | uppercase }}
		</h2>
		<h2 class="cursor-pointer hover-underline after:bg-white" routerLink="/policies">
			{{ "policies" | uppercase }}
		</h2>
		<h2 class="cursor-pointer hover-underline after:bg-white" routerLink="/help">
			{{ "help" | uppercase }}
		</h2>
	</div>
	<div class="w-full pb-4 flex justify-center items-center">
		<h6>Copyright © 2024 by Artisan | All Rights Reserved.</h6>
	</div>
</footer>
