<div
  class="flex justify-center items-center flex-col text-black w-full px-cart-sides"
>
  <h1 class="font-bold mb-3">MY CART</h1>
  <div class="flex w-full gap-6 m-3">
    <div
      class="border-4 border-black border-w w-full rounded-xl flex flex-col p-4 shadow-xl"
    >
      <app-cart-item
        [imageUrl]="
          'https://cdn.leonardo.ai/users/c159dc85-b8fe-4747-a7a3-f5f9fd4fb952/generations/ebde17bd-9e47-4377-ba94-14fcfc3b9cc0/Leonardo_Diffusion_astronaut_in_beautiful_space_looking_at_a_p_0.jpg'
        "
        [artworkName]="'Artwork Name 1'"
        [size]="'69 x 69cm'"
        [artistName]="'Artist name 1'"
        [price]="'XX,XX'"
      ></app-cart-item>
      <app-cart-item
        [imageUrl]="
          'https://cdn.dribbble.com/users/12775001/screenshots/19063782/media/7ba0071fb02bb7501f637b4e819eec17.png?resize=1000x750&vertical=center'
        "
        [artworkName]="'Artwork Name 2'"
        [size]="'69 x 69cm'"
        [artistName]="'Artist name 2'"
        [price]="'XX,XX'"
      ></app-cart-item>
      <app-cart-item
        [imageUrl]="
          'https://cdn.dribbble.com/userupload/4450671/file/original-01835965e4769a11d4c131c8d4c72ddb.png?resize=1024x1024'
        "
        [artworkName]="'Artwork Name 3'"
        [size]="'69 x 69cm'"
        [artistName]="'Artist name 3'"
        [price]="'XX,XX'"
      ></app-cart-item>
      <div class="w-full flex justify-between">
        <h3></h3>
        <h3>XX,XX €</h3>
      </div>
    </div>
    <div>
      <div
        class="border-4 border-black w-40vmin rounded-xl p-4 flex flex-col items-center gap-2 shadow-xl"
      >
        <h3 class="font-semibold text-left w-full">Order summary</h3>
        <div class="w-full flex flex-col gap-2 mb-2">
          <div class="w-full flex justify-between mt-4">
            <h4>Artwork subtotal</h4>
            <h4>XX,XX €</h4>
          </div>
          <div class="w-full flex justify-between">
            <h4>Shipping total</h4>
            <h4>XX,XX €</h4>
          </div>
          <div class="w-full flex justify-between font-semibold">
            <h4>Estimated Total</h4>
            <h4>XXX,XX €</h4>
          </div>
        </div>
        <button
          class="border-4 border-black rounded-lg h-5vmin p-3 w-full text-xl font-semibold flex justify-center items-center group hover:bg-black transition-colors duration-200"
        >
          <span class="group-hover:text-white transition-colors duration-200"
            >Checkout</span
          >
          <span
            class="material-symbols-outlined text-4xl group-hover:text-white group-hover:translate-x-2 transition-all duration-200"
          >
            trending_flat
          </span>
        </button>
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="discountCodeForm"
          class="border-4 border-black rounded-lg w-full h-5vmin flex justify-between items-center p-3"
        >
          <input
            formControlName="code"
            placeholder="Discount code"
            class="bg-transparent focus:outline-none w-full font-semibold"
          />
          <button
            class="material-symbols-outlined text-4xl group-hover:text-white hover:translate-x-2 transition-all duration-200 outline-4"
            type="submit"
          >
            trending_flat
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
