<header class="px-sides mb-8 bg-transparent fade-in">
	<div class="w-full bg-white/90 backdrop-blur-sm shadow-md flex justify-between items-center p-0.5 gap-4 rounded-2xl overflow-hidden">
		<div class="w-full flex justify-between">
			<div class="pl-8 py-3">
				<img src="../../../assets/pictures/ARTISAN.png" routerLink="/" class="w-48 cursor-pointer" alt="" />
			</div>
			<a
				[routerLink]="['/catalog']"
				[queryParams]="{ category: 'all', page: '1', sort: 'id_desc' }"
				class="font-bold col-span-2 duration-200 rounded-xl px-4 py-4 text-dark hover:bg-zinc-300 text-xl whitespace-nowrap"
				>All Products</a
			>
		</div>
		<form (ngSubmit)="onSearchSubmit()" [formGroup]="searchForm" class="w-full flex justify-center">
			<div class="flex items-center gap-1 col-span-6">
				<input formControlName="search" type="text" class="border-dark text-dark border-2 opacity-50 focus:opacity-100 rounded-md h-10 w-96 p-3 transition-all duration-300" placeholder="Search" />
				<button class="material-symbols-outlined black-text-shadow duration-200 text-dark text-3xl" type="submit">search</button>
			</div>
		</form>
		<div class="w-full flex justify-between items-center">
			<div class="font-bold col-span-3 text-dark text-xl pl-20">
				@if (token) {
				<div class="flex items-center gap-4">
					<h4 class="text-xl truncate max-w-xs">{{ userName }} {{ userSurname }}</h4>
					<div class="hover:bg-zinc-300 px-4 py-3 rounded-xl flex items-center justify-center duration-200">
						<span routerLink="/user/profile" class="material-symbols-outlined black-text-shadow duration-200 text-dark text-3xl"> account_circle </span>
					</div>
					<a class="hover:bg-zinc-300 px-4 py-3 rounded-xl duration-200" (click)="onLogOut()">Logout</a>
				</div>
				} @else {
				<span class="whitespace-nowrap font-semibold">
					<a class="font-bold hover:bg-zinc-300 px-4 py-3 rounded-xl duration-200" [routerLink]="['/', { outlets: { modals: ['auth', 'login'] } }]">LOGIN</a>
					OR
					<a class="font-bold hover:bg-zinc-300 px-4 py-3 rounded-xl duration-200" [routerLink]="['/', { outlets: { modals: ['auth', 'register'] } }]">REGISTER</a></span
				>
				}
			</div>
			<div routerLink="/cart" class="hover:bg-zinc-300 px-5 py-3 rounded-xl cursor-pointer duration-200 flex justify-end">
				<div class="relative">
					<span class="material-symbols-outlined black-text-shadow duration-200 text-dark text-3xl translate-y-0.5"> shopping_cart </span>
					@if (cartCount > 0 ) {
					<span class="absolute -top-1 -right-2 bg-dark text-white rounded-full w-5 h-5 flex items-center justify-center text-xs fade-in">{{ cartCount }}</span>
					}
				</div>
			</div>
		</div>
	</div>
</header>
