<div class="flex justify-center items-center flex-col text-dark w-full px-product-sides fade-in">
	<h1 class="font-bold my-6">About Artisan</h1>
	<p>
		Artisan is a brand new online store launched in 2024, but our passion for handcrafted goods has been brewing for much longer. We believe that everyday objects can be elevated into works of art,
		and that surrounding yourself with beautiful, well-made pieces can enrich your life.
	</p>

	<h2 class="font-bold my-4">Our Story</h2>
	<p>
		Artisan's story began with a chance encounter at a bustling farmers market. Sarah, a graphic designer with a keen eye for detail, was captivated by a display of hand-blown glass ornaments. Each
		piece shimmered with an ethereal beauty, reflecting the vibrant colors of the market. As she spoke with the artist, a woman named Elena, Sarah learned about the meticulous process of glassblowing
		and Elena's lifelong dedication to the craft. Inspired by Elena's passion and the inherent artistry in everyday objects, Sarah knew she wanted to share this beauty with a wider audience.
	</p>

	<h2 class="font-bold my-4">What We Offer</h2>
	<p>
		At Artisan, we curate a collection of unique and beautiful digital goods from a variety of talented artists around the world. Whether you're searching for a piece to add personality to your
		collection, come, you'll find it at Artisan.
	</p>

	<h2 class="font-bold my-4">Our Commitment</h2>
	<p class="text-left w-full">
		<strong>Quality:</strong> We source only the finest handcrafted goods, ensuring exceptional quality and craftsmanship in every piece.<br />
		<strong>Sustainability:</strong> We prioritize working with artisans who use sustainable practices and eco-friendly materials. <br />
		<strong>Community:</strong> We believe in supporting and empowering artisans around the world, and we're proud to offer a platform for their work. <br />
		<strong>Customer Service:</strong> We strive to provide a delightful shopping experience with excellent customer service.
	</p>

	<h2 class="font-bold my-4">Stay Connected</h2>
	<p class="text-left w-full">Follow us on social media for updates on new arrivals, exclusive promotions, and a behind-the-scenes look at the world of art.</p>
</div>
