<div class="flex justify-center items-center flex-col text-dark w-full px-product-sides fade-in">
	<h1 class="font-bold my-6">Delivery</h1>
	<p>
		This page outlines our delivery policy for all digital products purchased on our website. <br /><strong>1. Instant Delivery</strong> Since all our products are digital, you'll receive them
		instantly upon successful checkout. Here's how it works: Once you complete your order and payment is confirmed, you'll be redirected to a confirmation page with download links for your purchased
		products. You'll also receive a confirmation email containing the same download links. These links will be unique to your order and will allow you to download your files. <br />
		<strong>2. Downloading Your Files</strong> The download links provided are typically active for 15 days after your purchase. You can download your files during this period as many times as needed.
		We recommend downloading and saving your files to a permanent location on your computer or device for future reference. <br /><strong>3. Technical Issues</strong> If you encounter any problems
		downloading your files, please don't hesitate to contact us. We'll be happy to assist you and ensure you receive your products. You can reach us by email at <strong>[email]</strong> <br /><strong
			>4. Important Notice</strong
		>
		Please note that due to the digital nature of our products, we cannot offer refunds or exchanges once the download link has been activated. However, if you experience any issues with the files or
		have any questions, please reach out to us, and we'll do our best to help. <br /><strong> 5. Software Licenses</strong> Some of our digital products may include software licenses. These licenses
		will be provided with the downloaded files and will outline the terms and conditions for using the software. We recommend reviewing these licenses carefully before using the software. We hope this
		delivery policy clarifies how you'll receive your digital products from Artisan. Enjoy exploring your creative side with our products!
	</p>
</div>
