<div class="w-full flex justify-between items-center gap-4 text-dark px-cart-sides my-6">
	@if (search) {
	<h2 class="font-semibold truncate fade-in">{{ 'Search for: "' + search + '"' }}</h2>
	} @else {
	<h1 class="font-semibold truncate fade-in">{{ category | categoryFormat }}</h1>
	}
	<div class="flex flex-nowrap text-lg font-semibold">
		<label class="whitespace-nowrap">Sort By</label>
		<select #sort_by class="outline-none px-2" (change)="onSortChange(sort_by.value)">
			<option value="id_desc">Newest</option>
			<option value="title_asc">A-Z</option>
			<option value="title_desc">Z-A</option>
			<option value="price_asc">Lowest Price</option>
			<option value="price_desc">Highest Price</option>
		</select>
	</div>
</div>
<div class="flex flex-row gap-6 justify-start items-start text-dark w-full px-cart-sides fade-in">
	<div class="border-2 border-dark rounded-lg flex flex-col max-w-xs">
		<div class="flex flex-col p-4 w-full">
			<div class="flex justify-between items-center mb-4">
				<h2 class="font-medium">Price</h2>
			</div>
			<div class="flex gap-3">
				<input
					#minprice
					(blur)="onPriceParams('minP', minprice)"
					type="number"
					class="font-semibold border-2 border-dark rounded-md w-full text-center overflow-hidden"
				/>
				to
				<input
					#maxprice
					(blur)="onPriceParams('maxP', maxprice)"
					type="number"
					class="font-semibold border-2 border-dark rounded-md w-full text-center overflow-hidden"
				/>
			</div>
		</div>
		<hr />
		<div class="flex flex-col p-4 w-full">
			<input #uncheckh type="radio" id="uncheckh" name="height" value="off" class="hidden peer/uncheckh" />
			<div class="flex justify-between items-center w-full mb-4">
				<h2 class="font-medium">Height</h2>
				<label (click)="onChangeSize('h', uncheckh)" for="uncheckh" class="hover:underline cursor-pointer">Reset</label>
			</div>

			<div class="flex w-full justify-around items-end gap-6 font-medium">
				<input #sheight type="radio" id="sheight" name="height" value="S" class="hidden peer/s" />
				<label
					(click)="onChangeSize('h', sheight)"
					for="sheight"
					class="flex justify-center items-center border-2 border-dark rounded-md w-8 h-8 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/s:bg-dark peer-checked/s:text-white text-lg"
				>
					S
				</label>
				<input #mheight type="radio" id="mheight" name="height" value="M" class="hidden peer/m" />
				<label
					(click)="onChangeSize('h', mheight)"
					for="mheight"
					class="flex justify-center items-center border-2 border-dark rounded-md w-10 h-10 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/m:bg-dark peer-checked/m:text-white text-lg"
				>
					M
				</label>
				<input #lheight type="radio" id="lheight" name="height" value="L" class="hidden peer/l" />
				<label
					#div
					(click)="onChangeSize('h', lheight)"
					for="lheight"
					class="flex justify-center items-center border-2 border-dark rounded-md w-12 h-12 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/l:bg-dark peer-checked/l:text-white text-2xl"
				>
					L
				</label>
				<input #xlheight type="radio" id="xlheight" name="height" value="XL" class="hidden peer/xl" />
				<label
					(click)="onChangeSize('h', xlheight)"
					for="xlheight"
					class="flex justify-center items-center border-2 border-dark rounded-md w-14 h-14 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/xl:bg-dark peer-checked/xl:text-white text-2xl"
				>
					XL
				</label>
			</div>
		</div>
		<hr />
		<div class="flex flex-col p-4 w-full">
			<input #uncheckw type="radio" id="uncheckw" name="width" value="off" class="hidden peer/uncheckw" />
			<div class="flex justify-between items-center w-full mb-4">
				<h2 class="font-medium">Width</h2>
				<label (click)="onChangeSize('w', uncheckw)" for="uncheckw" class="hover:underline cursor-pointer">Reset</label>
			</div>

			<div class="flex w-full justify-around items-end gap-6 font-medium">
				<input #swidth type="radio" id="swidth" name="width" value="S" class="hidden peer/s" />
				<label
					(click)="onChangeSize('w', swidth)"
					for="swidth"
					class="flex justify-center items-center border-2 border-dark rounded-md w-8 h-8 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/s:bg-dark peer-checked/s:text-white text-lg"
				>
					S
				</label>
				<input #mwidth type="radio" id="mwidth" name="width" value="M" class="hidden peer/m" />
				<label
					(click)="onChangeSize('w', mwidth)"
					for="mwidth"
					class="flex justify-center items-center border-2 border-dark rounded-md w-10 h-10 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/m:bg-dark peer-checked/m:text-white text-lg"
				>
					M
				</label>
				<input #lwidth type="radio" id="lwidth" name="width" value="L" class="hidden peer/l" />
				<label
					(click)="onChangeSize('w', lwidth)"
					for="lwidth"
					class="flex justify-center items-center border-2 border-dark rounded-md w-12 h-12 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/l:bg-dark peer-checked/l:text-white text-2xl"
				>
					L
				</label>
				<input #xlwidth type="radio" id="xlwidth" name="width" value="XL" class="hidden peer/xl" />
				<label
					(click)="onChangeSize('w', xlwidth)"
					for="xlwidth"
					class="flex justify-center items-center border-2 border-dark rounded-md w-14 h-14 hover:bg-dark hover:text-white transition-all duration-200 cursor-pointer peer-checked/xl:bg-dark peer-checked/xl:text-white text-2xl"
				>
					XL
				</label>
			</div>
		</div>
	</div>
	<div class="flex flex-col items-center gap-10 w-full">
		@if(loading) {
		<div class="grid grid-cols-4 w-full gap-6 animate-pulse p-6">
			@for (item of [1,1,1,1,1,1,1,8]; track $index) {
			<app-catalog-skeleton></app-catalog-skeleton>
			}
		</div>
		}
		<div class="grid grid-cols-4 w-full gap-6">
			@for (item of catalogItems; track $index) {
			<div class="flex flex-col gap-6">
				@for (item of catalogItems[$index]; track $index) {
				<app-catalog-item
					class="fade-in"
					[id]="item.id"
					[title]="item.title"
					[height]="item.height"
					[width]="item.width"
					[price]="item.price"
					[imageUrl]="item.image_url"
					[category]="item.category_title"
					[artist]="item.artist"
				>
				</app-catalog-item>
				}
			</div>

			}
		</div>
		@if (catalogItems[0].length > 0) {
		<div class="flex items-center gap-4">
			<button
				[disabled]="page === 1"
				(click)="onChangePage('previous')"
				class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-dark uppercase align-middle transition-all rounded-lg select-none hover:bg-dark/10 active:bg-dark/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
				type="button"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					aria-hidden="true"
					class="w-4 h-4"
				>
					<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
				</svg>
			</button>
			<div class="flex items-center gap-2 fade-in">
				@if (page === lastPage && lastPage > 3 || page === lastPage - 1 && lastPage > 3) {

				<button
					(click)="onChangePage(1)"
					class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-dark transition-all hover:bg-dark/10 active:bg-dark/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					type="button"
				>
					<span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
						{{ 1 }}
					</span>
				</button>
				<h3>...</h3>
				} @for (item of pagination; track $index) {
				<button
					(click)="onChangePage(item)"
					class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					[ngClass]="
						item === page
							? 'bg-dark text-white shadow-md shadow-dark/10 hover:shadow-lg hover:shadow-dark/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none'
							: 'text-dark  hover:bg-dark/10 active:bg-dark/20'
					"
					type="button"
				>
					<span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
						{{ item }}
					</span>
				</button>
				} @if (lastPage > 3 && lastPage > page + 1) {
				<h3>...</h3>
				<button
					(click)="onChangePage(lastPage)"
					class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-dark transition-all hover:bg-dark/10 active:bg-dark/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
					type="button"
				>
					<span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
						{{ lastPage }}
					</span>
				</button>
				}
			</div>
			<button
				[disabled]="page === lastPage"
				(click)="onChangePage('next')"
				class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-dark uppercase align-middle transition-all rounded-lg select-none hover:bg-dark/10 active:bg-dark/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
				type="button"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					aria-hidden="true"
					class="w-4 h-4"
				>
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
				</svg>
			</button>
		</div>
		} @if (catalogItems[0].length < 1 && !loading) {
		<div class="flex flex-col items-center">
			<span
				class="material-symbols-outlined text-5xl group-hover:text-white group-hover:translate-x-2 transition-all duration-200"
			>
				sentiment_dissatisfied
			</span>
			<h2 class="font-medium">No products found!</h2>
		</div>
		}
	</div>
</div>
