<div
	class="flex flex-col cursor-pointer rounded-md shadow-md bg-white hover:shadow-lg hover:bg-dark hover:text-white transition-all duration-200 overflow-hidden"
	[id]="id"
	[routerLink]="['/product', id]"
>
	<div>
		<img class="max-h-70vmin w-full object-contain" [src]="imageUrl" alt="" />
	</div>
	<div class="p-4">
		<p class="text-lg font-bold truncate">{{ title }}</p>
		<p class="truncate">by {{ artist }}</p>
		<p class="truncate">{{ width }} x {{ height }} px</p>
		<p class="text-lg font-bold">${{ price | number : "1.2-2" }}</p>
	</div>
</div>
