<div class="flex justify-center items-center flex-col text-dark w-full px-product-sides fade-in">
	<h1 class="font-bold pb-8">Contact</h1>
	<p>
		We're here to help! Artisan is committed to providing excellent customer service. Whether you have a question about a product, your order, or just want to chat, we'd love to hear from you. Here
		are the best ways to reach us:<br />
		<strong>Email:</strong> For most inquiries, email is the quickest and most efficient way to reach us. Our general email address is <strong>[email]</strong><br />
		<strong>Phone:</strong> For urgent matters or questions requiring immediate attention, you can call us at <strong>[phone number]</strong>. Our phone lines are open Monday - Friday, 9:00 AM to 5:00
		PM EST.
	</p>
	<h2 class="font-bold py-4">Looking for something else?</h2>
	<p class="w-full">
		<strong>Order Status:</strong> Track your order and view recent purchases by logging into your account.<br />
		<strong>Returns:</strong> Review our policies <strong><a class="underline" href="/policies">here</a></strong
		>. <br />Follow us on social media for updates, special offers, and a glimpse into the world of Artisan craftsmanship. <br /><strong
			>Facebook: [link to Facebook page] <br />
			Instagram: [link to Instagram page]</strong
		><br />
		Thank you for choosing Artisan! We aim to respond to all inquiries within 24 business hours.
	</p>
</div>
