<div class="text-gray-900 flex gap-8 w-full px-cart-sides fade-in">
	<div class="flex flex-col gap-4 w-1/4">
		<button
			(click)="mode = 'profile'"
			class="border-2 border-gray-900 rounded-lg p-0.5 w-full text-2xl font-semibold flex justify-center gap-4 items-center group hover:bg-gray-900 active:bg-gray-900 transition-colors duration-200"
			[ngClass]="{ 'bg-gray-900': mode === 'profile' }"
		>
			<span
				class="group-hover:text-white group-active:text-white transition-colors duration-200"
				[ngClass]="{ 'text-white': mode === 'profile' }"
				>My profile</span
			>
			<span
				class="material-symbols-outlined text-3xl group-hover:text-white group-active:text-white transition-all duration-200"
				[ngClass]="{ 'text-white': mode === 'profile' }"
			>
				account_circle
			</span>
		</button>
		<button
			(click)="mode = 'history'"
			class="border-2 border-gray-900 rounded-lg p-0.5 w-full text-2xl font-semibold flex justify-center gap-4 items-center group hover:bg-gray-900 transition-colors duration-200"
			[ngClass]="{ 'bg-gray-900': mode === 'history' }"
		>
			<span
				class="group-hover:text-white transition-colors duration-200"
				[ngClass]="{ 'text-white': mode === 'history' }"
				>Purchase history</span
			>
			<span
				class="material-symbols-outlined text-3xl group-hover:text-white transition-all duration-200"
				[ngClass]="{ 'text-white': mode === 'history' }"
			>
				history
			</span>
		</button>
	</div>

	<div class="flex flex-col border-2 border-gray-900 rounded-lg w-full">
		<div class="w-full px-8 py-4">
			@if(mode === "profile") {
			<h2 class="font-semibold fade-in">My profile</h2>
			} @else {
			<h2 class="font-semibold fade-in">Purchase history</h2>
			}
		</div>

		<hr />
		@if(mode === "profile") {
		<app-user-info></app-user-info>
		} @else if(mode === "history") {
		<app-order-history></app-order-history>
		}
	</div>
</div>
