<div class="-mt-8">
	<div class="w-full py-32 flex justify-center items-center bg-transparent text-dark flex-col text-center transition-all duration-200">
		<h1 class="font-bold">DIGITAL ART AND DESIGN</h1>
		<h2>Find unique art from independant artists all around the world!</h2>
	</div>
</div>
<!-- <div [routerLink]="['/catalog']" [queryParams]="{ category: 'all', page: '1', sort: 'id_desc' }" class="-mt-8">
	<div
		class="bg-[url('/../../assets/pictures/main-banner-bg.jpg')] w-full h-40vmin flex justify-center items-center text-white flex-col text-center hover:shadow-xl transition-all duration-200 cursor-pointer"
	>
		<h1 class="font-bold">DIGITAL ART AND DESIGN</h1>
		<h2>Find unique art from independant artists all around the world!</h2>
	</div>
</div> -->
