<div class="flex fixed z-20 justify-center items-center w-screen h-screen fade-in" #modalContainer>
	<div class="fixed z-20 bg-gray-900 bg-opacity-60 w-screen h-screen" (click)="onCloseModal(modalContainer)"></div>
	<div
		class="z-30 justify-center items-center flex-col bg-white border-red-500 border-4 w-min scale-up text-gray-900 rounded-2xl p-10 transition-all duration-1000"
	>
		<div class="flex w-full items-center flex-col mb-2">
			<div class="w-full flex justify-end">
				<span
					class="material-symbols-outlined black-text-shadow duration-200 text-gray-900 text-5xl -mt-5 -mr-5"
					(click)="onCloseModal(modalContainer)"
				>
					close
				</span>
			</div>
			<h2 class="font-bold whitespace-nowrap text-center">Are you sure you want to delete your account?</h2>
			<div class="w-full font-medium px-10">
				<h4 class="whitespace-nowrap text-center">
					This will permanently delete your account and all associated data with it.
				</h4>
				<h4 class="whitespace-nowrap text-center">There will be no way of getting the account back.</h4>
			</div>
			<form
				(ngSubmit)="onDeleteSubmit()"
				[formGroup]="deleteForm"
				class="w-full mt-10 flex justify-center items-center flex-col text-2xl gap-4 fade-in"
			>
				<h4 class="whitespace-nowrap font-medium text-center">Enter your password here:</h4>
				<div
					[ngClass]="{
						'border-red-500':
							deleteForm.get('password').invalid &&
							(deleteForm.get('password').dirty || deleteForm.get('password').touched)
					}"
					name="input"
					class="flex justify-start items-center gap-3 max-w-lg border-2 border-gray-900 p-2 rounded-xl w-full transition-all duration-300"
				>
					<div class="w-1/10 flex justify-center items-center">
						<span
							[ngClass]="{
								'text-red-500':
									deleteForm.get('password').invalid &&
									(deleteForm.get('password').dirty || deleteForm.get('password').touched)
							}"
							class="material-symbols-outlined cursor-default text-3xl transition-all duration-300"
						>
							lock
						</span>
					</div>

					<input
						formControlName="password"
						type="password"
						placeholder="Current Password"
						class="bg-transparent w-full"
					/>
				</div>
				<button
					[disabled]="deleteForm.invalid"
					class="border-2 border-red-500 max-w-xs rounded-lg h-5vmin p-3 w-full text-red-500 text-2xl font-bold flex justify-center items-center group hover:bg-red-500 transition-colors duration-200 disabled:opacity-50"
				>
					<span class="group-hover:text-white transition-colors duration-200 select-none">Delete account</span>
				</button>
			</form>
		</div>
	</div>
</div>
