@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Crima";
  src: url("./assets/fonts/Crima.ttf") format("truetype");
}

@font-face {
  font-family: Mont;
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer tailwind-base {
  @tailwind base;
  html,
  body {
    height: auto;
    margin: 0;
    font-family: "Mont";
    @apply bg-white text-white min-h-screen scroll-smooth;
    scrollbar-color: #52525b;
  }
  /* ::selection {
    background-color: rgb(211, 211, 211);
  } */
  .main {
    flex: 1;
  }
  a {
    cursor: pointer;
  }
  .material-symbols-outlined {
    cursor: pointer;
    user-select: none;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600 transition-colors;
  }
}

input {
  outline: none;
}

.white-text-shadow:hover {
  text-shadow: -1px -1px 17px rgba(255, 255, 255, 0.51);
}

.black-text-shadow:hover {
  text-shadow: -1px -1px 21px rgba(139, 139, 139, 0.41);
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.4s ease-in-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-transition {
  transition: height 0.3s ease;
}

.bottom-shadow {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.45);
}

.fade-in {
  animation: fadeIn 0.5s;
}

.scale-up {
  animation: scaleUp 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

.toast-fade {
  animation: toastFade 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    scale: 0.95;
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes toastFade {
  0% {
    visibility: visible;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.static-underline {
  display: inline-block;
  position: relative;
}

.static-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 7px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  animation: fadeIn 0.5s;
}
