@for (item of [1,1]; track $index) {
<div class="flex justify-between items-center w-full gap-4 p-6 animate-pulse">
	<div class="flex gap-4">
		<div class="bg-gray-400 w-24 h-24 rounded-lg"></div>
		<div class="flex flex-col gap-2 h-full">
			<div class="bg-gray-400 rounded-lg w-40 h-5"></div>
			<div class="bg-gray-400 rounded-lg w-32 h-5"></div>
			<div class="bg-gray-400 rounded-lg w-40 h-5"></div>
		</div>
	</div>
	<div class="h-full">
		<div class="bg-gray-400 rounded-lg w-16 h-5"></div>
	</div>
</div>
<hr class="animate-pulse" />
}
<div class="flex justify-between p-6 font-medium animate-pulse">
	<div class="h-full flex flex-col gap-2">
		<div class="bg-gray-400 rounded-lg w-60 h-5"></div>
		<div class="bg-gray-400 rounded-lg w-44 h-5"></div>
	</div>
	<div class="h-full flex flex-col gap-2">
		<div class="bg-gray-400 rounded-lg w-32 h-5"></div>
		<div class="bg-gray-400 rounded-lg w-52 h-5"></div>
		<div class="bg-gray-400 rounded-lg w-48 h-5"></div>
		<div class="bg-gray-400 rounded-lg w-24 h-5"></div>
	</div>
</div>
