<div class="flex justify-around gap-8 p-8">
	<div class="w-full fade-in">
		<h3 class="font-medium mb-4">Profile information</h3>
		@if (!loading) {
		<form
			(ngSubmit)="onUserFormSubmit()"
			[formGroup]="userForm"
			class="w-full flex justify-center items-center flex-col text-2xl gap-4 fade-in"
		>
			<div
				[ngClass]="{
					'border-red-500': userForm.get('name').invalid && (userForm.get('name').dirty || userForm.get('name').touched)
				}"
				name="input"
				class="flex justify-start items-center gap-3 border-2 border-dark p-2 rounded-xl w-full"
			>
				<div class="w-1/10 flex justify-center items-center">
					<span
						[ngClass]="{
							'text-red-500':
								userForm.get('name').invalid && (userForm.get('name').dirty || userForm.get('name').touched)
						}"
						class="material-symbols-outlined cursor-default text-4xl"
					>
						person
					</span>
				</div>

				<input formControlName="name" maxlength="255" type="text" placeholder="Name" class="bg-transparent w-full" />
			</div>
			<div
				[ngClass]="{
					'border-red-500':
						userForm.get('surname').invalid && (userForm.get('surname').dirty || userForm.get('surname').touched)
				}"
				name="input"
				class="flex justify-start items-center gap-3 border-2 border-dark p-2 rounded-xl w-full"
			>
				<div class="w-1/10 flex justify-center items-center">
					<span
						[ngClass]="{
							'text-red-500':
								userForm.get('surname').invalid && (userForm.get('surname').dirty || userForm.get('surname').touched)
						}"
						class="material-symbols-outlined cursor-default text-4xl"
					>
						person
					</span>
				</div>

				<input
					formControlName="surname"
					maxlength="255"
					type="text"
					placeholder="Surname"
					class="bg-transparent w-full"
				/>
			</div>
			<div
				[ngClass]="{
					'border-red-500':
						userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)
				}"
				name="input"
				class="flex justify-start items-center gap-3 border-2 border-dark p-2 rounded-xl w-full"
			>
				<div class="w-1/10 flex justify-center items-center">
					<span
						[ngClass]="{
							'text-red-500':
								userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)
						}"
						class="material-symbols-outlined cursor-default text-3xl"
					>
						alternate_email
					</span>
				</div>

				<input formControlName="email" maxlength="255" type="email" placeholder="Email" class="bg-transparent w-full" />
			</div>
			<h6
				class="-mt-3 font-semibold text-red-500"
				*ngIf="userForm.get('email').invalid && userForm.get('email').errors['email']"
			>
				Invalid email!
			</h6>
			<button
				[disabled]="userForm.invalid"
				class="border-2 border-dark rounded-lg p-0.5 w-full text-2xl font-semibold flex justify-center items-center group hover:bg-dark transition-all duration-200 disabled:opacity-50"
			>
				<span class="group-hover:text-white transition-colors duration-200 select-none"> Save changes </span>
			</button>
		</form>
		} @else {
		<app-user-info-skeleton></app-user-info-skeleton>
		}
	</div>
	<div class="w-full flex flex-col gap-4 px-20 fade-in">
		<h3 class="font-medium">Other options</h3>
		<button
			[routerLink]="['/', { outlets: { modals: 'password' } }]"
			class="border-2 border-dark rounded-lg p-0.5 w-full text-2xl font-semibold flex justify-center gap-4 items-center group hover:bg-dark transition-colors duration-200"
		>
			<span class="group-hover:text-white transition-colors duration-200"> Change password </span>
		</button>
		<button
			[routerLink]="['/', { outlets: { modals: 'delete' } }]"
			class="border-2 border-red-500 rounded-lg p-0.5 w-full text-red-500 text-2xl font-semibold flex justify-center gap-4 items-center group hover:bg-red-500 transition-colors duration-200"
		>
			<span class="group-hover:text-white transition-colors duration-200"> Delete account </span>
		</button>
	</div>
</div>
